In [4]:
#going back to formatting 
print("{:f}".format(2.0))

2.000000

In [5]:
print("{:.12f}".format(15%3))

0.000000000000

In [6]:
print("{:.12f}".format(15))

15.000000000000

In [7]:
print("{:.10f}".format(15))

15.0000000000

In [8]:
print("{:.300f}".format(15))

15.000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [9]:
print("{:.12f}".format(1.5%5))

1.500000000000

In [10]:
#the method signature: as_integer_ratio(self,/)
(0.1).as_integer_ratio()

(3602879701896397, 36028797018963968)

In [13]:
import math

In [14]:
(math.e).as_integer_ratio()

(6121026514868073, 2251799813685248)

In [15]:
#more on list: conversion

In [16]:
s= "today its uefa"

In [17]:
list(s)

['t', 'o', 'd', 'a', 'y', ' ', 'i', 't', 's', ' ', 'u', 'e', 'f', 'a']

In [18]:
print(len(s))

14

In [20]:
list_s = s

In [21]:
str(list_s)

'today its uefa'

In [23]:
str_list_s=list_s

In [24]:
str_list_s

'today its uefa'

In [28]:
'.'.join(['ab','pq','rs'])

'ab.pq.rs'

In [29]:
''.join(['ab','pq','rs'])

'abpqrs'

In [30]:
'...'.join(['ab','pq','rs'])

'ab...pq...rs'

In [31]:
import numpy as np

In [32]:
#converting list to an array:
x=[-3,5,9,15]
np.array(x)

array([-3,  5,  9, 15])

In [38]:
x=[-3,5,9,15]
z=np.array(x, dtype=float)
z

array([-3.,  5.,  9., 15.])

In [36]:
list(x)

[-3, 5, 9, 15]

In [39]:
list(z)

[-3.0, 5.0, 9.0, 15.0]

In [43]:
#e.g is a list with a for loop
N=20
y=np.zeros(N)

for i in range(N):
    y[i]=i**3
print(y)

[0.000e+00 1.000e+00 8.000e+00 2.700e+01 6.400e+01 1.250e+02 2.160e+02
 3.430e+02 5.120e+02 7.290e+02 1.000e+03 1.331e+03 1.728e+03 2.197e+03
 2.744e+03 3.375e+03 4.096e+03 4.913e+03 5.832e+03 6.859e+03]

In [49]:
#start with empty list
N=20
L=[]   #initializing list
for i in range(N):
    L.append(i**3)
print(L)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [50]:
#start with empty list
N=20
L=[]   #initializing list
for i in range(N):
    L.append(i**3)
print(L)
L_arr=np.array(L) #could convert to an array

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [52]:
#selecting some numbers that meets the criteria, we can use the "if condition"
N=20
L=[]   #initializing list
for i in range(N):
    if not (i%5==0 or i%7==0):
        L.append(i)
print(L)
L_arr=np.array(L) #could convert to an array

[1, 2, 3, 4, 6, 8, 9, 11, 12, 13, 16, 17, 18, 19]

In [53]:
A=[4, -3, 19, 'apple', 75]

In [54]:
B=A

In [55]:
B

[4, -3, 19, 'apple', 75]

In [56]:
B[0]=100

In [57]:
B

[100, -3, 19, 'apple', 75]

In [58]:
A

[100, -3, 19, 'apple', 75]

In [59]:
# so as seen B=A is not copying but making a jublicate of the same thing

In [62]:
# so how do you copy
np.copy?

In [63]:
import copy

In [64]:
# we will use this fuction to copy list (and arr)

In [66]:
A=[4, -3, 19, 'apple', 75]
B=copy.deepcopy(A)
B[0]=100
print(A)
print(B)

[4, -3, 19, 'apple', 75]
[100, -3, 19, 'apple', 75]

In [67]:
#slicing
C=A[1:]
print(C)

[-3, 19, 'apple', 75]

In [68]:
A

[4, -3, 19, 'apple', 75]

In [69]:
D=A[:]

In [70]:
D

[4, -3, 19, 'apple', 75]

In [71]:
D[0]=100

In [72]:
D

[100, -3, 19, 'apple', 75]

In [73]:
A

[4, -3, 19, 'apple', 75]