In [3]:
# we have several numerical TYPEs:  bool, int, float, complex
type(5+5.5)

float

In [4]:
# we will add a new type, non-numerical:  STRING (str)
s1 = 'Hello'   # different than 'olleH'
               # the order of elements matters
               # each element in the string is a CHARACTER (~letter)
               # capitalization matters (str are CASE SENSITIVE)
               #    'Hello' is different than 'hello', 'heLLo'

In [5]:
s1

'Hello'

In [6]:
type(s1)

str

In [7]:
s2 = 'welcome to programming'
s2

'welcome to programming'

In [8]:
# length of a string is an important property
len(s1)

# each character is counted once (even if repeated)
# the '-symbol is NOT counted as part of the str
# the '-symbol only marks the START and END of the string, it is 
# a BOUNDARY, not part of the string
# and an empty space ' ' IS one character

5

In [9]:
len(s2)

22

In [10]:
s3 = 'Paul Taylor'
s3

'Paul Taylor'

In [12]:
# write this as a string: I'm happy
s4 = 'I'm happy'

SyntaxError: invalid syntax (<ipython-input-12-4961e5d38672>, line 2)

In [15]:
# the problem above is out OPEN/CLOSE marker for a str, was
# also something we wanted to include as a CHAR (character),
# and python got confused

# to get around this, there are actually SEVERAL ways we can say:
# open/close a str:
# '    '
# "    "
# '''   '''
# """   """

s4 = """I'm happy"""
s5 = "I'm happy"

In [16]:
s4

"I'm happy"

In [17]:
s5

"I'm happy"

In [18]:
# cheating look at the future: == is EQUALITY
s4 == s5

True

In [20]:
len(s4)

9

In [21]:
len(s5)

9

In [22]:
# NB: len() does NOT work with bool, int, float, complex
# we will meet many functions that only work with certain type(s)
# len(100)

TypeError: object of type 'int' has no len()

In [37]:
# there is a way to tell python that a particular quote is NOT 
# a string-boundary quote
# we can put a '\' to the left of it; '\' is called the ESCAPE CHAR
# the '\' does NOT count as an additional char, it is a modifier only
s7 = 'I\'m happy'
s7

"I'm happy"

In [24]:
len(s7)

9

In [41]:
s1
s2
s3
s4

"I'm happy"

In [39]:
# when we display the str by just typing its var name, we see
# quotes at the boundaries
# but when we use the print() function, we won't see the boundaries 
# the print() allows us to display many things at any point within
# a cell/script
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

Hello
welcome to programming
Paul Taylor
I'm happy
I'm happy

In [ ]:
# we also have some other interesting functionality/operability 
# with strings

# we can operate on strings with + and * (???)

In [44]:
print(s1)
print(s2)
print(s1 + s2)
print(s2 + s1)

Hello
welcome to programming
Hellowelcome to programming
welcome to programmingHello

In [45]:
# the + symbol when two strings are operands is performing
# CONCATENATION:  combines the two strings in order, to make
#                 a single NEW string, with no extra space

# having an operator behave very differently when different
# operand types are present is called having an OVERLOADED OPERATOR

In [46]:
concat = s1+s2
print(concat)

Hellowelcome to programming

In [47]:
len(concat)

27

In [48]:
print(len(s1))
print(len(s2))

5
22

In [49]:
# we can have more than one + in the expression
s1 + s1 + s1 + s1

'HelloHelloHelloHello'

In [56]:
s1 + ' ' + s2

'Hello welcome to programming'

In [59]:
# in math, we replace repeated addition :5 + 5 + 5 + 5, with mult
# with str, we can do the same
s1 * 4

# the * is also doing concatenation of repeated copies
# * is still a binary operator, between one str and one int 
#  (and order does not matter)

'HelloHelloHelloHello'

In [62]:
4 * s1

'HelloHelloHelloHello'

In [63]:
4 + '4'   # python will NOT try to convert a number in a str to a number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [65]:
'4' + '4'

'44'

In [66]:
4 * '4'

'4444'

In [67]:
# note, i can try to perform TYPE CONVERSION
# there are functions for TYPE CONVERSION (typically, the name of the type)
4 * int('4')

16

In [68]:
# IF we have str whose characters look only like a number, we can
# use type conversion to make it a number
4 * float('4.5')

18.0

In [70]:
4 * int('4.5apple')

ValueError: invalid literal for int() with base 10: '4.5apple'

In [78]:
# question: what is this, both VALUE and TYPE
x = int(4 * '4')
print(x)
print(type(x))

4444
<class 'int'>

In [75]:
type(x)

str