In [4]:
x = 10 + 3 * (9/100**0.5)

In [2]:
x

12.7

in math:

$x = x + 5$

is not possible

In [5]:
# in programming, it is!

x = x + 5

In [6]:
x

17.7

In [8]:
# += is a new operator: IN-PLACE operator (for addition)
x += 5
x

27.7

In [26]:
y = -1000
y += 5 -5

In [27]:
y

-1000

In [28]:
type(y)

int

In [31]:
# new type: non-mathematical type, STRING
# how we words, sentences, letters
# each element of the str is CHAR (character)--
#    including spaces, comma, period, apostrophe
s  = "Hello, nice to meet you"
s2 = "abc"

In [30]:
type(s)

str

In [33]:
len(s)

23

In [35]:
s[0:5]

'Hello'

In [37]:
# there are MULTIPLE ways to open/close a string:
#    "   "
#    '   '
#    """    """
#    '''    '''
s3 = 'I read the book "Things Fall Apart"'

In [38]:
s3

'I read the book "Things Fall Apart"'

In [39]:
s3 = '''I'm going to read the book "Things Fall Apart"'''

In [40]:
# strings interestingly have * and + as valid operators

In [47]:
# CONCATENATION
'apple' + ' ' + 'banana'

'apple banana'

In [50]:
# this is called the NULL STRING, or EMPTY STRING
len('')

0

In [66]:
# repeated concatenation
('apple' + ' ') * 5   # you can't see me

'apple apple apple apple apple '

In [65]:
'Simba ' * 3

'Simba Simba Simba '

In [67]:
'#hello'

'#hello'

In [72]:
x = 5
print('x is:', x)        # the first 'x' is just a char; the 2nd is var
x = 6 
print('x**2 is:', x**2)  # Python will evaluate each entry before printing
x = 7
print(x)

x is: 5
x**2 is: 36
7

$f(x, y, z)$

In [73]:
print?

In [78]:
print('a', 'b', 'c', 'd', sep='---')

a---b---c---d

In [86]:
# user input
var = input()

44

In [87]:
type(var)

str

In [94]:
int(var) + 15

59

In [92]:
# for every type, there is a TYPE CONVERSION FUNCTION
# so, the name of every type is also the name of function for 
# conversion to that type
complex(4)

(4+0j)

In [96]:
int(var) + 7

51

In [97]:
# could reassign var
var = int(var)

In [98]:
var + 1000

1044

$f(g(x))$

In [110]:
# we can both convert type immediately after getting input
# we can enter a prompt to instruct the user
var = int(input("Enter number: "))

Enter number: 44

In [111]:
type(var)

int

In [112]:
var

44

In [118]:
int(float('-37.0'))

-37