In [1]:
x = 10 + 3 * (9/100**0.5) # the equal sign "=" in comp is the ASSIGNMENT

In [3]:
x

12.7

In [4]:
# in programing, it is!
x = x + 5

In [5]:
x

17.7

In [6]:
# += is a new operator: IN-PLACE operator (for addition)
x += 5
x

22.7

In [7]:
y += 5 #it has given an error because y is not defined

NameError: name 'y' is not defined

In [8]:
y = -100
y += 5

In [9]:
y

-95

In [10]:
y = -100
y += 5 + x

In [11]:
y

-72.3

In [12]:
type(y)

float

In [13]:
type(x)

float

In [15]:
# new type: NON MATHAMATICAL 
# where we use words, sentences
#STRINGS

s= "Hello, nice to meet you"
s2= "abc"

In [16]:
type(s)

str

In [17]:
len(s)

23

In [18]:
len(s2)

3

In [19]:
s[0]

'H'

In [20]:
s[0:5]

'Hello'

In [21]:
# there are multiple ways of opening and  closing the string:
# " "
#' '
#'''   ''' 

s3 = " i'm happy to see you around at aims"

In [22]:
# strings interestingly have * and + as valid operators

In [23]:
# CONCATENATION: joining to strings 

'apple' + 'banana'

'applebanana'

In [24]:
'apple ' + 'banana'

'apple banana'

In [25]:
'apple' +  ' ''banana'

'apple banana'

In [26]:
len('')

0

In [27]:
# the '' is calles a null string or an empty string

In [28]:
# repeated concatenation
'apple ' *5

'apple apple apple apple apple '

In [29]:
('apple '+ ' ' ) *5

'apple  apple  apple  apple  apple  '

In [30]:
('apple'+ ' ' ) *5

'apple apple apple apple apple '

In [32]:
'apple '+ ' '  *5 # without brackets we only multiplied the empty string by 5

'apple      '

In [36]:
#COMMENTS
'#hello' #python will not evaluate with an hash sign because its the comment

'#hello'

In [34]:
#PRINT FUNCTION

x = 5 
print(x)
x = 6 
print(x)
x = 7
print(x)

5
6
7

In [38]:
x = 5
print('x is:', x)

x is: 5

In [39]:
x = 6
print('x is:', x**2)

x is: 36

In [40]:
print('a', 'b')

a b

In [41]:
print('a', 'b', sep='---')

a---b

In [42]:
print('a', 'b','c','d', sep='---')

a---b---c---d

In [43]:
# USER INPUT
input()

hello my name is eugine

'hello my name is eugine '

In [47]:
var = input()

something

In [48]:
type(var)

str

In [51]:
float(4)

4.0